$SUorange: #F76900;
$SUblue: #000e54;

$font_primary: 'Arial';
$font_secondary: "Georgia";

$color_primary:#1ed760;
$color_grey:#4a4a4a;
$color_orange: #F76900;
$color_blue: #000e54;
$color_light_grey: #EDEDED