@use '../sass/abstracts/mixins.scss';

.container{
    // background-color: white;
    padding-left: 1rem;
    padding-right: 1em;
    @include mixins.breakpoint(tablet){
        // background-color: rgb(238, 152, 120);
        width:90%;
        margin: 0 auto;
    }
    @include mixins.breakpoint(laptop){
        // background-color: beige;
        width:980px;
        margin: 0 auto;
    }
    @include mixins.breakpoint(desktop){
        // background-color: rgb(185, 218, 135);
        width:1140px;
        margin: 0 auto;

    }

}