$justifyContentValues: flex-start, flex-end, center, space-between, space-around, space-evenly;

$alignItemsValues: flex-start, flex-end, center, stretch, baseline;

.row {
    //background-color: orange;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem 0 -1rem;

    @each $value in $justifyContentValues {
        &.justify-content-#{$value} {
            justify-content: #{$value};
        }
    }
    
    @each $value in $alignItemsValues {
        &.align-items-#{$value} {
            align-items: #{$value};
        }
    }
}
